{{!-- floating-balloon.hbs --}}

<div class={{concat "balloon" @index}} {{did-insert (action this.floatBalloon @index)}}>
  <img src="assets/images/balloon.png" alt="Balloon" width="50" height="50" />
</div>

<style>
  [class^="balloon"] {
    position: absolute;
  }

</style>
