{{!-- floating-balloon.hbs --}}

<div class={{concat "balloon" @index}} {{did-insert (action this.floatBalloon @index)}}  width={{@maxWidth}}>
  <img src="assets/images/balloon.png" alt="Balloon" width={{@maxWidth}} />
</div>

<style>
  [class^="balloon"] {
    position: relative;
  }

</style>
