<!-- floating-balloon.hbs -->

<div class="balloon" {{did-insert (action this.floatBalloons @delay)}}>
  <img src="assets/images/balloon.png" alt="Balloon" width="50" height="50" />
</div>

<style>
  .balloon {
    position: absolute;
  }

</style>
